NationalParks.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://cse445.asu.edu/a4"
xmlns="http://cse445.asu.edu/a4"
elementFormDefault="qualified">
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- The names, phone numbers and addresses of the parks-->
              <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="Address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                  <!--Nearest Airport if needed-->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!--Ratings if needed-->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>